# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
uploads/cache/2016-11-28/276x190/no-image.jpg
uploads/cache/2017-01-14/200x200/no-image.jpg
uploads/cache/2017-01-14/276x190/no-image.jpg
uploads/cache/2017-01-14/290x125/no-image.jpg
uploads/cache/2017-01-14/300x185/no-image.jpg
uploads/cache/2017-01-14/34x34/no-image.jpg
uploads/cache/2017-01-17/120x60/no-image.jpg
uploads/cache/2017-01-17/200x113/no-image.jpg
uploads/cache/2017-01-17/276x190/no-image.jpg
uploads/cache/2017-01-17/290x125/no-image.jpg
uploads/cache/2017-01-17/300x185/no-image.jpg
uploads/cache/2017-01-17/34x34/no-image.jpg
uploads/cache/thumbnail/2016-11-24/100/no-image.jpg
uploads/cache/thumbnail/2016-11-24/980/no-image.jpg
uploads/cache/thumbnail/2016-11-28/100/no-image.jpg
uploads/cache/thumbnail/2016-11-28/980/no-image.jpg
uploads/cache/thumbnail/2017-01-14/100/no-image.jpg
uploads/cache/thumbnail/2017-01-14/980/no-image.jpg
uploads/cache/thumbnail/2017-01-17/100/no-image.jpg
uploads/cache/thumbnail/2017-01-17/980/no-image.jpg
uploads/file_download/2016/11/24/2bef4decf18c320a4a6f1ed1a216efa0_1479998346.xlsx
uploads/file_download/2016/11/24/3429308a5a783c3635fef0f6567b0d6b_1479997740.xlsx
uploads/file_download/2016/11/24/e9bdf54418b05d3731788048e9ff9855_1479997957.xlsx
uploads/cache/2016-11-28/120x60/no-image.jpg
uploads/cache/2016-11-28/23x23/no-image.jpg
uploads/cache/2016-11-28/290x125/no-image.jpg
uploads/cache/2016-11-28/300x185/no-image.jpg
uploads/cache/2016-11-28/34x34/no-image.jpg
uploads/cache/2017-01-14/120x60/no-image.jpg
uploads/cache/2017-01-14/175x106/no-image.jpg
uploads/cache/2017-01-14/200x113/no-image.jpg
uploads/cache/2017-01-14/23x23/no-image.jpg
uploads/cache/2016-11-24/23x23/no-image.jpg
uploads/cache/2016-11-24/276x190/no-image.jpg
uploads/cache/2016-11-24/290x125/no-image.jpg
uploads/cache/2016-11-24/300x185/no-image.jpg
uploads/cache/2016-11-24/34x34/no-image.jpg
uploads/cache/2016-11-24/120x60/no-image.jpg
uploads/cache/2016-11-24/175x106/no-image.jpg
uploads/cache/2016-11-24/200x200/no-image.jpg
uploads/file_download/2016/11/24/invalid_phone_1479998444.xlsx
