@font-face {
	font-family: 'RobotoCondensed';
	src: url('../font/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../font/RobotoCondensed-Regular.woff') format('woff'),
		 url('../font/RobotoCondensed-Regular.ttf')  format('truetype'),
		 url('../font/RobotoCondensed-Regular.svg#RobotoCondensed-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'RobotoCondensedBold';
  src: url('../font/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
  	   url('../font/RobotoCondensed-Bold.woff') format('woff'),
  	   url('../font/RobotoCondensed-Bold.ttf')  format('truetype'),
  	   url('../font/RobotoCondensed-Bold.svg#RobotoCondensed-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
html,body{
	font-family: 'RobotoCondensed';
}
*{
	outline: none!important;
}
#imgprev{ display: none; }
.sitemap{
	list-style:decimal;
}
.sitemap a:hover{
	color: red;
}
.sitemap > li{
	padding: 10px 10px 0px 0px;
	margin-left: 30px;
}
.sitemap > li > a{
	color: black;
	text-transform: uppercase;
}
.sitemap li ul li a{
	color: black;
}
.sitemap li ul{
	list-style: disc;
}
.sitemap li ul li{
	margin-left: 48px;
	padding: 5px;
}
.ab-pu-endorse-tk.f-bb{

}
/* Let's get this party started */ ::-webkit-scrollbar { width: 10px; } /* Track */ ::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); -webkit-border-radius: 10px; border-radius: 10px; } /* Handle */ ::-webkit-scrollbar-thumb { -webkit-border-radius: 10px; border-radius: 10px; background: #F5F5F5; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); } ::-webkit-scrollbar-thumb:window-inactive { background: rgba(255,0,0,0.4); }
.detail-descript { 
	position: relative; max-width: 100%; width: 100%;
	margin-top: 27px;
	font-family: 'RobotoCondensed' !important;
}
.fancybox-inner{ overflow: hidden !important; }
.detail-descript iframe, 
.detail-descript object, 
.detail-descript embed { 
	/* position: absolute; */ top: 0; left: 0; width: 100%; height: 350px; 
}
.loading{
	position: fixed;
	top: 50%;
	margin-top: -64px;
	left: 50%;
	margin-left: -64px;
	width: 128px;
	height: 128px;
	z-index: 9999;
	background: url(../img/loader.gif) center no-repeat;
}
.clear{clear: both;}
#content .content-bg1{
	background: #f5f5f5;
}
.notice{
	font-size: 14px!important;
}
.red{
	color: #d10b0b;
	font-size: 14px;
}
.frError{
    color: red;
}
.frSuccess{
    color: blue;
}
.green{
	color: green;
	font-size: 14px;
}
.border_error{
	border: 1px solid #FF0000;
    /*border-radius: 17.5px;*/
}
.blue{
	color: blue;
	border: none;
}
.block-comment .comment-form {
	min-height: 69px;padding:7px;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	background: #F2F2F2;
}
.block-comment .comment-form  .avatar{width: 60px;}
.block-comment .comment-form  .text{width: 95%;}
.block-comment .comment-form  .text textarea{
	background-color: none;
	border-width: 0px;
	box-shadow: 0;
	margin: 0;
	padding: 0;
	width: 90%;
	height: 31px;
	resize: none;
	padding: 4px;
	width: 99%;
}
.block-comment .comment-form .btnCommentSend.main{
	float:right;
	margin:3px 5px 0 0;
	cursor:pointer;
	background:#5973A8;
	border-width:0;
	color: #FFFFFF;
	font-family: 'RobotoCondensedBold';
	padding: 2px 6px;
}

.block-comment .comment-list .comment-item .avatar{float:left;width: 60px;}
.block-comment .comment-list .comment-item .comment-detail{float:left;}
.block-comment .comment-list .comment-item .fullname{float:left;}
.block-comment .comment-list .comment-item .time{float:right;}
.block-comment .comment-list .comment-item .comment-reply{padding:10px 0 0 55px;}
.block-comment .comment-loadmore{text-align:center;}


.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget iframe[style]  {width: 100% !important;}

.header-top{
	padding: 0px 15px 0px;
	background: #1f1f1f;
	font-size: 13px;
	color: #bcbcbc;
	text-align: right;
}

#header .logo{
	padding: 0 15px;
	font-size: 22px;
	color: #a84216;
	clear: both;
	
}

#header .logo span{
	color: #4f2507;
}

#header .logo .text{
	line-height: 22px;
}
.logo .img{
    float:left;
    width:50%;
    padding-top:15px;
    
}
.logo .f-bb{
    float:right;
    width:50%;
    text-align: right;
    padding-top:24px;
}
#header .menu{
	padding-top: 24px;
}

.nav-pills > li{
	background: url(../img/bg/bg-menu.png) center bottom repeat-x;
}

.nav-pills > li.home{
	width: 42px;
	border: none;
}

.nav-pills > li.home span{
	display: inline-block;
	width: 19px;
	height: 19px;
	background: url(../img/icon/icon-home.png) no-repeat;
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 50%;
	margin: -13px 0 0 -9px;
}

.nav-pills > li.about{
	width: 182px!important;
}

.nav-pills > li.service{
	width: 180px;
}

.nav-pills > li.infomation{
	width: 213px;	
}

.nav-pills > li > a{
	/*color: #4c4c51;*/
    color:#000;
	line-height: 40px;
	border-bottom: 1px solid #d8d8d8;
	text-transform: uppercase;
  	font-size: 18px;
}

.nav-pills > li > a.active{
	background-color: #ffffff;
	/* font-size: 17px; */
	color: #a84216;
}

.nav-pills > li > a .caret{
	border: none;
	margin: 0;
	width: 8px;
	height: 5px;
	position: absolute;
	z-index: 0;
	top: 13px;
	right: 15px;
	background: url(../img/icon/icon-arrow.png) no-repeat;
}

.menu .dropdown-menu{
	width: 369px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: none;
	-webkit-box-shadow: 3px 3px 0px 0px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    3px 3px 0px 0px rgba(50, 50, 50, 0.4);
	box-shadow:         3px 3px 0px 0px rgba(50, 50, 50, 0.4);
	border-bottom: 4px solid #a84216;
	padding: 0 15px 33px;
	box-sizing: content-box;
	background: url(../img/bg/bg-menu.png) center bottom repeat-x #fff;
	margin: 0;
}

.menu .dropdown-menu .left{
	width: 141px;
	padding-top: 11px;
}

.menu .dropdown-menu .left li{
	margin-top: 20px;
}

.menu .dropdown-menu .left a{
	line-height: 20px;
	font-size: 16px;
	color: #000;
}

.menu .dropdown-menu .left a.active{
	color: #A84216;
}

.menu .dropdown-menu .right{
	width: 227px;
	color: #666;
	text-align: right;
	font-size: 16px;
	line-height: 22px;
}

.menu .dropdown-menu .right .title{
	font-size: 28px;
	color: #a84216;
	line-height: 32px;
	padding-top: 27px;
}

#footer a{
	color: #fff;
}

#footer .row{
	margin: 0;
	padding: 0 30px;
}

#footer .row > div{
	padding: 0;
}

#footer .copy{
	background: #000;
	font-size: 14px;
	color: #fff;
	padding: 16px 0 15px 0;
}

#footer .contact{
	background: #1f1f1f;
	font-size: 13px;
	color: #989898;
	line-height: 20px;
	padding: 12px 0 15px 0;
}

#footer .contact a{
	color: #989898;
}

#footer .contact .title, 
#footer .contact .txt-r a{
	font-size: 18px;
	color: #fff;
	
}


/*banner*/
.banner-main,
.banner-main img.img-responsive{
	width: 100%;
	position: relative;
	z-index: 1;
	background: #f5f5f5;
}


.banner-main .form-banner{
	position: absolute;
	top: 50px;
	left: 30px;
	background: none;
	border: none;
	padding: 0;
	width: 604px;
	z-index: 1000;
}


.banner-main .text{
	width: 360px;
	/*font-size: 44px;*/
	color: #fff;
	position: absolute;
	z-index: 5;
	top: 45px;
	left: 45px;
}

.banner-main .text .title{
	
	/*line-height: 42px;*/
}
/*End-banner*/
.item-expertise{
	width: 276px;
	height: 279px;
	border: 1px solid #e9e9e9;
	position: relative;
	z-index: 0;
	font-size: 15px;
	box-sizing: content-box;
}

.item-expertise .img{
	height: 190px;
	border-bottom: 1px solid #e9e9e9;
	box-sizing: content-box;
}

.item-expertise .img a{
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 0;
}

.item-expertise .img a span{
	position: absolute;
	z-index: 0;
}
.item-expertise .img a span.bg{
	opacity: 0;
    filter: alpha(opacity=0);
}

.item-expertise .img a:hover span.bg{
	width: 100%;
	height: 100%;
	background: #4f2507;
	opacity: 0.7;
    filter: alpha(opacity=70);
	top: 0;
	left: 0;
	transition:All 0.6s ease;
    -webkit-transition:All 0.6s ease;
    -moz-transition:All 0.6s ease;
    -o-transition:All 0.6s ease;
}

.item-expertise .img a span.viewmore{
	display: none;
	width: 100px;
	height: 18px;
	text-align: center;
	top: 50%;
	left: 50%;
	margin: -9px 0 0 -50px;
	color: #fff;
}
.item-expertise .img a:hover span.viewmore{
	display: block;
}

.item-expertise .text{
	color: #000;
	line-height: 18px;
	padding: 24px 10px 0;
}
.item-expertise .text a{
	color: #000;
}

.item-expertise .title{
	
	font-size: 18px;
	line-height: 18px;
	position: absolute;
	z-index: 1;
	top: -5px;
	/*left: 1px;*/
	background: #a84216;
	border-top: 5px solid #932b0a;
	box-sizing: content-box;
	padding: 1px 9px 7px;
}

.item-expertise .title a{
	color: #fff;
}

.item-expertise .title.bg1{
	background: #4f2507;
	border-color: #3b1703;
}

.item-expertise .title.bg2{
	background: #7d7d7d;
	border-color: #545454;
}

.box-home{
	padding: 0 30px 60px;
}

.box-home.home-video{
	padding: 50px 30px 50px;
}

.box-candidates{
	background: #f5f5f5;
}

.box-candidates .title1{
	padding-top: 45px;
}

.slider-expertise{
	margin: 41px auto 0;
	position: relative;
	z-index: 0;
}

.box-home .title1{
	padding-top: 45px;
    margin:0px;
}

.box-home .title1 a{
	color: #a84216;
}

.box-home .title1 a:hover{
	color: #bcbcbc;
}

.slider-expertise .bx-wrapper{
	max-width: 100% !important;
}

.slider-expertise .bx-wrapper li{
	margin: 0 7px;
	padding-top: 5px;
}

.slider-expertise .bx-wrapper .bx-prev{
	left: -17px;
}

.slider-expertise .bx-wrapper .bx-next{
	right: -15px;
}

.list-job{
	border: 1px solid #e9eaea;
	background: #fff;
	padding: 5px 0 4px 0;
}

.list-job .row,
.box-news .row{
	margin: 0;
}

.list-job .col-md-6,
.box-news .row > div{
	padding: 0;
}

.list-job .col-md-6:first-child{
	border-right: 1px dotted #b7c2c9;
}

.list-job li a{
	display: block;
	background: url(../img/icon/icon-arrow1.png) 0 15px no-repeat;
	padding: 12px 0 14px 14px;
	border-top: 1px dotted #b7c2c9;
	color: #000;
	font-size: 14px;
	margin: 0 20px;
	line-height: 20px;
}

.form-candidate .pa-top{
	width: 100%;
	position: relative;
	z-index: 0;
	padding-right: 85px;
}

.form-candidate .input{
	width: 100%;
}

.form-candidate .btn-search{
	position: absolute;
	z-index: 0;
	top: 0;
	right: 0;
}

.box-news .title1{
	font-size: 28px;
}

.item-news,
.item-news .img img{
	width: 100%;
}

.item-news{
	font-size: 14px;
	line-height: 20px;
}

.item-news a{
	color: #2b2b2b;
}

.item-news .date{
	font-size: 12px;
	color: #727272;
	text-transform: uppercase;
}

.box-news .col-md-8 .col-sm-6.other-news .item-news{
	margin-top: 25px;
}

.box-news .col-md-8 .col-sm-6.other-news .item-news:first-child{
	margin-top: 15px;
}

.box-news .col-md-8 .col-sm-6.other-news .title{
	color: #2b2b2b;
	font-size: 18px;
	
}

.box-news .col-md-8 .col-sm-6.other-news .img,
.box-news .col-md-8 .col-sm-6.other-news .text{
	float: left;
}

.box-news .col-md-4 .item-news a{
	font-size: 18px;
	color: #000;
	
}

.box-news .col-md-4 .item-news a:hover{
	color: #A84216;
}

.box-banner{
	margin: 0 30px;
	padding: 5px 0;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

.box-banner.clients-pages{
	margin: 0;
	background: #fff;
}

#logo-owl .item-logo{
	text-align: center;
}

.box-banner .item-logo img,
.owl-wrap-pn .item-logo img{
	max-width: 120px;
}

.user-about{
	width: 100%;
	font-size: 13px;
	color: #000;
}

.user-about .img{
	width: 90%;
	padding-top: 32px;
}

.user-about .img img{
	margin-right: 8px;
}
.user-about .img .text{
	font-size: 16px;
}
.user-about .box-text{
	width: 100%;
	position: relative;
	z-index: 0;
	background: #eff1f3;
	font-size: 15px;
	color: #000;
	font-style: italic;
	text-align: justify;
	padding: 22px 22px 26px;
	line-height: 24px;
}

.user-about .box-text .arrow{
	width: 0; 
	height: 0;
	border-left: 0px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #eff1f3;
	position: absolute;
	z-index: 0;
	bottom: -15px;
	left: 29px;
}

.user-talentnet .bx-wrapper .bx-controls-direction a,
.box-video .bx-wrapper .bx-controls-direction a{
	top: auto;
	bottom: 0;
	right: 0;
}

.user-talentnet .bx-wrapper .bx-controls-direction a.bx-prev,
.box-video .bx-wrapper .bx-controls-direction a.bx-prev{
	right: 41px;
	left: auto;
}

.box-video .bx-wrapper .bx-controls-direction a.bx-next:hover{
	background-position: -15px -29px;
}

.box-video .bx-wrapper .bx-controls-direction a.bx-prev:hover{
	background-position: -15px 0px;
}

.box-video .video{
	width: 100%;
	position: relative;
	z-index: 0;
}

.box-video .video .icon-play{
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 50%;
	margin: -63px 0 0 -38px;
}

.box-video .video img{
	width: 100%;
}

.box-video .video .description{
	width: 100%;
	height: 65px;
	background: url(../img/bg/bg-orange.png);
	position: absolute;
	z-index: 0;
	bottom: 0;
	left: 0;
	padding: 0px 85px 0 10px;
}

.box-video .video .description a{
	display: inline-block;
	height: 100%;
	line-height: 56px;
	color: #fff;
	
	font-size: 22px;
}

.box-video .video .description a > span{
	line-height: 20px;
	vertical-align: middle;
	display: inline-block;
}

.box-video .bx-wrapper .bx-controls-direction a{
	bottom: 12px;
	right: 14px;
	background: url(../img/controls1.png) no-repeat;
}

.box-video .bx-wrapper .bx-controls-direction a.bx-prev{
	right: 54px;
}

.box-video .bx-wrapper .bx-controls-direction a.bx-next{
	background-position: 0 -29px;
}

.date-bar{
	font-size: 18px;
	
	margin-top: 10px;
}

.item-news-talent{
	width: 100%;
	border-bottom: 1px dotted #b7c2c9;
	padding: 20px 0 18px;
}
.lmarket .item-news-talent{
	border-bottom: none;
	border-top: 1px dotted #b7c2c9;
}
.lmarket .item-news-talent.large{
	border-top: none;
}
.fix-pager .item-news-talent{
	border-top: 1px dotted #b7c2c9;
	border-bottom: none;
}
.wr-licenter .item-news-talent:first-child{
	border-top: none;
}
.lah-cor .item-news-talent.first{
	border-top: none;
}
.lah-cor .item-news-talent{
	border-bottom: none;
	border-top: 1px dotted #b7c2c9;
}
.lah-cor .item-news-talent .text .txt-r a{
	font-size: 13px;
}
.item-news-talent .img{
	float: left;
	width: 175px;
}

.item-news-talent .img img{
	display: block;
	width: 100%;
	padding: 5px;
	border: 1px solid #e2e2e2;
}

.item-news-talent .text{
	float: left;
	width: 387px;
	padding-left: 15px;
	font-size: 15px;
}

.item-news-talent .text .date{
	color: #989898;
	font-size: 12px;
}

.item-news-talent .text a{
	font-size: 16px;
	color: #a84216;
}

.item-news-talent .text a.viewmore{
	font-size: 13px;
	text-decoration: underline;
}

.page-bar{
	/*padding: 12px 0 15px 0;*/
	padding: 0;
}

.page-bar > div.select-view,
.page-bar > div.pagination,
.page-bar .bg-pager > div.pagination,
.page-bar .bg-pager > div.select-view{
	float: right;
	margin-right: 2px;
	text-align: center;
}

.page-bar > div.pagination,
.page-bar .bg-pager > div.pagination{
	text-align: right;
	margin-top: 3px;
}

.page-bar > div.pagination a,
.page-bar > div.pagination span,
.page-bar .bg-pager > div.pagination a,
.page-bar .bg-pager > div.pagination span{
	display: inline-block;
	margin-left: 3px;
	height: 24px;
	background: #eaeaea;
	padding: 0 8px;
	/*font-size: 13px;*/
	color: #666;
	line-height: 24px;
}

.page-bar > div.pagination a:hover,
.page-bar > div.pagination span,
.page-bar .bg-pager > div.pagination a:hover,
.page-bar .bg-pager > div.pagination span{
	background: #a84216;
	color: #fff;
}

.bg-pager{
	border-top: 1px solid #e5e5e5;
	padding: 12px 0 15px 0;
}

.lmarket .bg-pager{
	border-top: 1px dotted #b7c2c9;
}

.page-bar .select{
	display: inline-block;
    height: 24px;
    margin-top: 3px;
    width: 115px;
}
.page-bar .select .sbSelector{
	line-height: 24px;
}
.pagination .first , .pagination .last , .pagination .next , .pagination .prev{
	font-size: 17px !important;
}
.page-bar > div.select-view *,
.date-bar-detail .row > div.col-sm-8 *{
	vertical-align: middle;
}

.date-bar-detail{
	border-bottom: 5px solid #e5e5e5;
	padding: 20px 0 8px 0;
}

.hr-detail .date-bar-detail{
	padding: 12px 0 8px;
}

.date-bar-detail .row{
	margin: 0;
	font-size: 13px;
}

.date-bar-detail .row > div{
	padding: 0;
}

.detail-descript{
	/*font-size: 13px;*/
	padding: 27px 0 3px 0;
	/*line-height: 18px;*/
}

.detail-descript img{
	width: 100%;
}

.detail-descript p{
	padding-bottom: 15px;
	font-size: 16px !important;
}

.detail-descript span{
	font-size: 16px!important;
	line-height: 22px!important;
	font-family: 'RobotoCondensed' !important;
}

.detail-descript a{
	color: #a84216;
	width: 100%;
	text-decoration: underline;
}

.share-bar{
	width: 44px;
	height: 226px;
	background: #fff;
	border: 1px solid #cccccc;
	border-right: none;
	text-align: center;
	font-size: 7px;
	color: #000;
	position: fixed;
	z-index: 999;
	top: 50%;
	right: 0;
	margin-top: -80px;
	-webkit-box-shadow: -3px 3px 0px 0px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    -3px 3px 0px 0px rgba(50, 50, 50, 0.2);
	box-shadow:         -3px 3px 0px 0px rgba(50, 50, 50, 0.2);
	padding-top: 7px;
}
.mb-share-tt{
	cursor: pointer;
	width: 44px;
	line-height: 44px;
	background: #fff;
	border: 1px solid #cccccc;
	border-right: none;
	text-align: center;
	font-size: 7px;
	color: #000;
	position: fixed;
	z-index: 998;
	top: 50%;
	right: 0;
	margin-top: -80px;
}
.share-bar .mt5 a:hover{
	opacity: 0.7;
	filter: alpha(opacity=70);
}

.share-bar .back-top{
	font-size: 12px;
	color: #000;
	display: none;
}
.share-bar .no-top{
	font-size: 12px;
	color: #000;
}
.share-bar .no-top:hover{
	color: #a84216;
}

.share-bar .line{
	width: 28px;
	height: 1px;
	background: #ccc;
	margin: 7px auto 8px;
}

.search-clients .form-candidate{
	width: 100%;
	float: none;
}

.search-clients .form-candidate .select{
	width: 49.11103%;
}

.table-clients,
.table-clients table{
	width: 100%;
	position: relative;
	z-index: 0;
}
.table-clients table tr:nth-child(2n){
	background-color: #F0F0F0;
	
}
.table-clients table tr:nth-child(2n) td{
	
}
.table-clients table tr td{
	padding-left:10px;
}

.ct-ov-ft{
	height: 66px;
	overflow: hidden;
}

.table-clients table tr:first-child{
	border-bottom: 5px solid #e5e5e5;
}
.lclient-page .table-clients table tr:first-child{
	border-top: none;
}
.lclient-page .table-clients table tr{
	border-top: 1px solid #e5e5e5;
	border-bottom: none;
}
.lclient-page .table-clients table tr.bdt{
	border-top: 5px solid #e5e5e5;
}
.lpar .table-clients table tr:first-child,
.lpar .table-clients table tr.tr-first{
	border: none;
}
.lpar .table-clients table tr{
	border-bottom: none;
	border-top: 1px solid #e5e5e5;
}
/*.lclient-page .page-bar,
.lah-cor .page-bar,
.lawar .page-bar,
.fix-pager .page-bar{
	padding: 0;
}*/
/*.lclient-page .page-bar .bg-pager:empty,
.lah-cor .page-bar .bg-pager:empty,
.lpar .page-bar .bg-pager:empty,
.lawar .page-bar .bg-pager:empty,
.fix-pager .page-bar .bg-pager:empty{
	border-top: none;
}
.lclient-page .page-bar .bg-pager,
.lpar .page-bar .bg-pager,
.lawar .page-bar .bg-pager{
	border-top: 1px solid #e5e5e5;
	padding: 12px 0 15px 0;
}
.lah-cor .page-bar .bg-pager,
.fix-pager .page-bar .bg-pager{
	padding: 12px 0 15px 0;
	border-top: 1px dotted #b7c2c9;
}*/

.table-clients table tr{
	border-bottom: 1px solid #e5e5e5;
}
.lawar .table-clients table tr{
	border-bottom: none;
}
.lawar .table-clients table tr.one{
	border-bottom: none;
	border-top: 1px solid #e5e5e5;
}
.lawar .table-clients table tr.one.first{
	border: none;
}
.table-clients table tr a.more_awar{
	color: #a84216;
	font-size: 14px;
}
.more_ques{
	font-size: 13px;
	color: #000;
}
.table-clients table td{
	font-size: 16px !important;
	line-height: 22px !important;
	color: #000;
	height: 63px;
	padding: 10px 0;
	vertical-align: middle;
}
.tt-aw{
	display: none;
}
.table-clients table td .cl-br,
.table-clients table td.cl-br{
	color: #4f2507;
	font-family: 'RobotoCondensedBold';
    text-transform: uppercase;
}
/*.lclient-page .table-clients table tr:first-child td{
	font-size: 18px !important
}*/
/*.f-s60{
	width: 60%;
}*/
/*------------------------------------------------------------CSS sua layout table -> div trang Home/clients cua Bao*/
.f-s60{
	float: left;
	width: 50%;
}
.f-s61{
	float: left;
	width: 50%;
}
.search-wrapper-f-s .title {
	width: 60px;
	float: left;
	display: inline-block;
	height: auto;
	font-size: 18px;
	color: #4f2507;
	
	padding: 5px 5px 15px 0;
}
.table-clients table .client-name{
	text-transform: uppercase;
	font-family: 'RobotoCondensedBold';
	text-align: left;
}
.table-clients table .client-name,
.table-clients table .client-field {
	padding-right: 30px;
	float: left;
	width: 50%;
}

/*---------------------------------------------------------END CSS sua layout table -> div trang Home/clients cua Bao*/
.table-clients table td p,
.table-clients table td span,
.table-clients table td p span{
	font-size: 16px !important;
	line-height: 22px !important;
}
.ft-div{
	display: none;
}
.ft-div.shr{
	display: block;
}
.table-clients table tr td img{
	width: 100%;
}
.table-clients table tr td{
	/*width: 76.5%;*/
	padding-right: 10px;
	vertical-align: middle;
	text-align: justify;
}

.table-clients table tr td:nth-child(1),
.table-clients table tr td:nth-child(2){
	/*text-align: center;*/
}

.table-clients table tr.last{
	border-color: #fff;
}

.item-news-talent.contact-page{
	border: none;
	padding: 20px 0 0 0;
}

.item-news-talent.contact-page .img{
	width: 212px;
}

.item-news-talent.contact-page .text{
	width: 200px;
	padding-left: 20px;
	font-size: 14px;
	line-height: 20px;
}

.item-news-talent.contact-page .text a{
	font-size: 14px;
}

.row.contact-page{
	margin: 0;
}

.row.contact-page .col-md-6{
	float: right;
	width: 427px;
	padding: 0;
}

.top-tt{
	/*background: none repeat scroll 0 0 #4f2507;*/
    color: #a84216;
    
    font-size: 28px;
    padding-top: 14px;
    line-height: 28px;
    margin: 0px;
}
.news_detail{
	border-top: 5px solid #e5e5e5;
	padding-top: 12px;
    padding-bottom:23px;
	margin-top: 2px;
}
.news_detail .col_tag{
    float:left;
}
.news_detail .col_download{
    float:right;
}
.job-detail {
	text-align: right;
}
.job-detail input:first-child{
	margin-right: 19px;
}

.ab-r.lc .ab-salary{
	margin-top: 15px;
}
.ab-r.lc .ab-salary:first-child{
	margin-top: 0px;
}
.ab-r.lc .ab-salary-item .row.client{
	border: 0px;
	margin-top: 0px;
}
.ab-r.lc .ab-salary-item .row.client .tt{
	padding-top: 0px;
}
.page-bar > div.select-view span > strong{
	vertical-align: 0px;
}

.advertise{
	width: 300px;
	height: 200px;
	background: #000;
	z-index: 1000;
	position: fixed;
	bottom: 0;
	right: 0;
}

.img_avatar{
	width: 100%;
	max-width: 100px;
}

.img_avatar img{
	width: 100%;
	border: 1px solid #bcbcbc;
}

/*kieu anh*/
	.hr-services .ab-about{
		padding-bottom: 20px;
	}
	.width40{
		width: 40%:;
	}
	.width60{
		width: 60%;
	}
/*end kieu anh*/
.mb-cl-ss{
	display: none;
}
@media (min-width: 997px) {

	.slider-expertise{
		width: 878px;
	}
	
	.box-home .text1{
		width: 793px;
		margin: 0 auto;
	}
	
	.form-candidate{
		float: left;
		width: 299px;
	}
	
	.list-job{
		float: right;
		width: 599px;
	}
	
	.list-job li:first-child a{
		border-top: none;
	}
	
	.box-news .col-md-4{
		width: 290px;
		float: right;
	}
	
	.box-news .col-md-8 .col-sm-6{
		width: 300px;
	}
	
	.box-news .col-md-8 .col-sm-6.other-news .img{
		width: 100px;
	}
	
	.box-news .col-md-8 .col-sm-6.other-news .text{
		padding-left: 15px;
		width: 180px;
	}
	
	.user-talentnet{
		float: left;
		width: 604px;
		overflow: hidden;
	}
	.box-video{
		float: right;
		width: 290px;
	}
	
	.date-bar form div{
		float: left;
	}
	
	.date-bar div.text{
		width: 95px;
		/*margin: 8px 0 0 0;*/
		height: 35px;
		line-height: 35px;
	}
	
	.date-bar  div.input{
		float: right;
		width: 147px;
	}
	
	.date-bar  div.select{
		width: 215px;
		margin-right: 8px;
	}
	
	.form-profile .contact-page .lable{
		width: 115px;
		font-size: 14px;
	}
	.form-profile .contact-page .area,	
	.form-profile .contact-page .input{
		width: 291px;
	}
	
	.row.contact-page .col-md-6{
		float: right;
		width: 421px;
	}
	
	.row.contact-page .col-md-6:first-child{
		float: left;
	}
}

@media (max-width: 997px) {
	.share-bar{
		height: 250px;
	}
	.mb-cl-ss{
		font-size: 20px;
		display: block;
		cursor: pointer;
	}
	.share-bar{
		right: -47px;
	}
	.advertise{
		display: none;
	}
	.slider-expertise{
		width: 584px;
	}
	
	.box-home .text1{
		width: 100%;
	}
	
	.form-candidate,
	.list-job{
		width: 100%;
	}
	
	.list-job{
		margin-top: 10px;
	}
	
	.list-job .col-md-6:first-child{
		border: none;
	}
	
	.list-job .col-md-6:first-child li:first-child a{
		border-top: none;
	}
	
	.form-candidate .select{
		width: 100%;
	}
	
	.form-candidate .select.w-146{
		width: 49%;
	}
	
	.box-news .col-md-8 .col-sm-6.other-news .img{
		width: 30%;
	}
	
	.box-news .col-md-8 .col-sm-6.other-news .text{
		width: 70%;
		padding-left: 15px;
	}
	
	.box-video{
		width: 80%;
		margin: 20px auto 0;
	}
	
	.date-bar form > div{
		margin-top: 10px;
		position: relative;
		z-index: 0;
	}
	
	.date-bar div.sl-by{
		width: 100%;
		padding-right: 85px;
		position: relative;
		z-index: 10;
	}
	
	.date-bar div.select{
		float: left;
		width: 100%;
	}
	
	.date-bar div.search{
		position: absolute;
		z-index: 0;
		top: 0;
		right: 0;
	}
	
	.date-bar div.input,
	.date-bar form > div{
		width: 100%;
	}
	
	.item-news-talent .img{
		width: 31.12%;
	}
	
	.item-news-talent .text{
		width: 68.88%;
	}
	
	.item-news-talent.large .img{
		width: 40%;
	}
	
	.item-news-talent.large .text{
		width: 60%;
	}
	
	.item-news-talent.contact-page .img{
		width: 40%;
	}
	
	.item-news-talent.contact-page .text{
		width: 40%;
	}
	
	.row.contact-page .col-md-6{
		width: 100%;
		margin-top: 20px;
	}
	
	.banner-main .text{
		font-size: 6vw;
		width: 70%;
		top: 12%;
		left: 5%;
	}
	
	.banner-main .text .title{
		line-height: 6vw;
	}

	.licenter .date-bar div.select{
		width: 33.33% !important;
		margin-right: 0;
		padding-right: 8px;
		border: none;
	}
	.licenter .date-bar div.select .sbHolder{
		border: 1px solid #e9eaea;
	}
	.licenter .date-bar div.sl-by{
		padding-right: 74px;
	}
}

@media (min-width: 768px) {
	.box-news .col-md-8 .col-sm-6.other-news{
		padding: 0 0 0 20px;
	}
	#login-page{
		min-height: 450px;
	}
	.contact-page .title3{
		/*padding-top: 10px;*/
        line-height: 17px;
	}
}

@media (max-width: 768px) {
	.user-talentnet .bx-wrapper .bx-controls-direction a.bx-prev, .box-video .bx-wrapper .bx-controls-direction a.bx-prev{
		right: 20px;
	}
	.box-news .col-md-8 .col-sm-6.other-news{
		padding: 20px 0 0 0px;
	}
	
	.slider-expertise{
		width: 100%;
		padding: 0 10px;
	}
	
	.slider-expertise ul li,
	.slider-expertise ul li .item-expertise,
	.slider-expertise ul li .item-expertise .img img{
		width: 100% !important;
	}
	
	.slider-expertise ul li .item-expertise,
	.slider-expertise ul li .item-expertise .img{
		height: auto;
	}
	
	.slider-expertise ul li .item-expertise{
		margin-bottom: 20px;
		padding-bottom: 15px;
	}
	
	.banner-main .text{
		font-size: 6vw;
		width: 70%;
		top: 12%;
		left: 5%;
	}
	
	.banner-main .text .title{
		line-height: 6vw;
	}
	
	.box-home.box-news .col-sm-6{
		width: 48%;
		float: left;
	}
	.box-home.box-news .col-sm-6.other-news{
		float: right;
		padding: 0;
	}
	.box-banner{
		padding: 5px 30px;
	}
}

@media (max-width: 731px) {
	#footer .row > div.txt-r,
	#footer .row > div.txt-r{
		text-align: left;
	}
}

@media (min-width: 732px) {
	#footer .row .col-md-8{
		float: left;
		width: 66.66666667%;
		font-size: 14px;
	}
	
	#footer .row .col-md-4{
		float: left;
		width: 33.33333333%;
	}
	
	#footer .row .col-md-6{
		float: left;
		width: 50%;
	}
}

@media (max-width: 639px) {
	.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
		display: inline-block;
		width: 25px;
		height: 20px;
		text-align: center;
	}
	.box-home.box-news .col-sm-6{
		padding-bottom: 7px;
		width: 100%;
		float: left;
	}

	.item-news-talent.contact-page .img,
	.item-news-talent.contact-page .text{
		width: 90%;
		float: none;
		margin: 0 auto;
	}
	
	.item-news-talent.contact-page .text{
		padding: 10px 0 0 0;
	}
}

@media (max-width: 640px) {
	.hide-mb{
		display: none;
	}
	.tt-aw{
		display: block;
		margin-bottom: 10px;
	}
	.ab-pu-endorse-form .jspVerticalBar{
		right: 20px;
	}
	.ab-pu-endorse-form .row .col-md-4{
		width: 65%;
	}
	
	.frJobSearch .select.select_49{
		width: 100%;
		height: 100%;
	}
	
	.frJobSearch .select.select_49:not(:first-child){
		margin-top: 10px;
	}
	
	.frJobSearch .item .select2-selection__choice{
		width: auto!important;
	}
	.item-news-talent .img,
	.item-news-talent .text{
		width: 100%;
		padding-left: 0;
	}
	.item-news-talent .text{
		margin-top: 10px;
	}
}

@media (max-width: 480px){
	.ab-client .ab-tt, .tt-tab a:first-child{
		line-height: 20px;
	}
	.table-clients table tr td:first-child {
		width: 40%;
	}
	.table-clients table tr td:nth-child(2) {
		width: 50%;
	}
	.item-news-talent .img{
		width: 100%;
	}
	.item-news-talent .text {
    	width: 100%;
    	padding: 15px 0px 0px 0px !important;
	}
	.f-s60{
		width: 50%;
	}
    .ab-pu-endorse-form .row .col-md-4{
            width: 100%;
        }                  
    }
    
    .ab-submit .ab-submit-btn{
        width: 107px;
        float: right;
    }
    
    .ab-submit .ab-submit-text{
        width: 57%;
        float: left;
    }
    
    .ab-pu-endorse-tk{
        width: 100%;
    }
    
    .pop-choose-cv{
        width: 100%;
    }
    
    .pop-choose-cv .col-md-6{
        width: 80%;
    }
    .pop-choose-cv .col-md-6.has_cv{
        width: 48%;
    }
}

@media (min-width: 515px) {
	#header .logo .img{
		float: left;
		width: 200px;
		margin: 15px 0 0 0;
	}

	#header .logo .text{
		float: right;
		width: 160px;
		margin: 25px 0 0 0;
		text-align: right;
	}
}

@media (max-width: 513px) {

	#header .logo .img{
		margin: 15px 0 0 0;
		text-align: center;
	}
	
	#header .logo .text{
		margin: 10px 0 0 0;
		text-align: center;
	}
	.licenter .date-bar div.select{
		padding-right: 0;
		padding-left: 2px;
		margin-top: 5px; 
	}
	.licenter .date-bar div.select:first-child{
		padding-left: 0;
	}
	.licenter .date-bar div.sl-by{
		padding-right: 0;
	}
	.licenter .date-bar div.search{
		top: 49px;
	}
	.licenter .btn-search{
		padding-bottom: 4px;
	}
	.licenter .date-bar div.input{
		padding-right: 82px;
	}
}
@media (max-width: 501px) {
	.f-s60 {
		float: left;
		width: 100%;
	}
	.f-s61 {
		float: left;
		width: 100%;
	}
	.table-clients table .client-name,
	.table-clients table .client-field {
		padding-right: 0px;
		float: left;
		width: 100%;
	}
	.table-clients table .client-name {
		font-family: 'RobotoCondensedBold';
		color: #4f2507;
	}
	.select.left.lc {
		width: 100% !important;
	}
}
@media (max-width: 460px){
	.form-profile.sac .lable span br{
		display: none;
	}
}
@media (max-width: 360px) {
	.ab-pu-endorse-form .row .col-md-4{
		width: 90%;
	}
	.team_item .text{
		width: 130px;
	}
	.ab-brochure a{
		width: 100%;
	}
	#ab-pu-endorse{
		height: 320px;
		width: 100%;
	}
	.ab-submit .ab-submit-text{
		width: 100%;
        float: left;
	}
	.ab-submit .ab-submit-btn{
	   float: left;
		width: 107px;
		margin-left: 0;
		margin-top: 10px;
	}
	
	.user-exec.androi .bx-prev{
		left: -23px;
	}
	.user-exec.androi .bx-next{
		right: -23px;
	}
	.ab-pu-endorse .jspVerticalBar{
		right: 20px;
	}
    
    .date2{
        width: 100%;
    }
    
    .date2.right{
        margin-top: 10px;
    }
}


/* huy*/
#captcha-wrap{
	border:solid #870500 1px;
	width:270px;
	-webkit-border-radius: 10px;
	float:left;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background:#870500;
	text-align:left;
	padding:3px;
	margin-top:3px;
	height:135px;
}
#captcha-wrap .captcha-box{
	-webkit-border-radius: 7px;
	background:#fff;
	-moz-border-radius: 7px;
	border-radius: 7px;
	text-align:center;
	/*border:solid #fff 1px;*/
}
#captcha-wrap .text-box{
	-webkit-border-radius: 7px;
	background:#ffdc73;
	-moz-border-radius: 7px;
	width:140px;
	height:55px;
	float:left;
	margin:4px;
	border-radius: 7px;
	text-align:center;
	border:solid #ffdc73 1px;
}

#captcha-wrap .text-box input{ width:120px;}
#captcha-wrap .text-box label{
	 color:#000000;
	 font-size:12px;	
	 width:150px;
}
#captcha-wrap .captcha-action{
	background:url(logos.jpg) top right no-repeat; 
	height:44px; margin-top:3px;
}
#captcha-wrap  img#captcha-refresh{
	margin-top:9px;
	border:solid #333333 1px;
	margin-right:6px;
	cursor:pointer;
}

.cv_hide{
	display:none;
}
.c_update{
	text-align: center;
	font-size: 14px;
	margin: 50px auto!important;
}
.ab-story-ct li,
.services-all-item-text li{
	/*list-style: disc;*/
	/*margin-left: 15px;*/
}
.select.left.lc{
	width: 100%;
}
.search-clients.lc{
	width: 70%;
	display: inline-block;
	position: relative;
}
.search-clients.rc {
  	width: 70%;
	display: inline-block;
	position: relative;
}
.img_loading{
	width: 124px;
	height: 124px;
	margin: 3% 0 5% 45%;
}
.form-profile.sac .lable{
	margin-top: 0px;
	height: 34px;
	line-height: 34px;
}
.form-profile.sac .lable span{
	color: #666666 !important;
	display: inline-block;
	vertical-align: middle;
	line-height: 18px;
	font-size: 14px;
}
.tbl-td{
	height: 103px;
}
.tbl-td p{
	vertical-align: middle;
}
.tbl-td p a{
	display: inline-block;
	line-height: 18px;
}
.tbl-td ul{
	vertical-align: middle;
	padding-top: 3px;
}
.img_loading{
	width: 124px;
	height: 124px;
	margin: 3% 0 5% 45%;
}
.btn-update.abtn{
	/*padding: 6px 15px 8px 15px;*/
	line-height: 24px;
	line-height: 25px\9\0;
}
/* end huy */
#frContact .form-group:first-child{
	margin-top: 16px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari and Chrome, if Chrome rule needed */
    .menu .dropdown-menu{
    	width: 369px;
    }
}


@media (max-width: 360px) {
	.page-bar > div.select-view,
	.page-bar > div.pagination{
		width: 100%;
	}
	.form-profile .lable{
		/*font-size: 10px !important;*/
	}
	.form-profile .lable span{
		width: 48px;
	}
	.user-about .img img{
		float: left;
	}
	.user-about .img{
		line-height: 18px;
		width: 84%;
	}
	.user-talentnet .bx-wrapper .bx-controls-direction a{
		bottom: 5px;
	}
	.services-contact .row .col-md-3 span{
		/*font-size: 13px;*/
	}
	.services-contact .row .col-md-4 p.name{
		/*font-size: 12px;*/
	}
	.services-contact .row .col-md-4 p.job{
		/*font-size: 10px;*/
	}
	.services-contact .row .col-md-5 p.phone{
		/*font-size: 10px;*/
	}
	.services-contact .row .col-md-5 p.mail{
		/*font-size: 7px;
		padding-left: 32.7%;*/
	}
	.text_pf .per_info ul{
		width: 175px !important;
	}
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    /* Safari and Chrome */
    /*.myClass {
     color:red;
    }*/

    /* Safari only override */
    .btn-update.abtn{
    	line-height: 25px;
    }
}

.contact-page .input input,
#login-page .input input{
    /*font-size: 13px !important;*/
}

#news-talent .btn-sign-in{
    width: 131px !important;
}

@media (max-width: 325px){
    
    #news-talent .btn-sign-in.sv_jobs{
        margin-top: 10px;
    }
}

@media (max-width: 480px){
	.ab-about .fs13 .btn-descript {
		display: inline-block;
	}
	.job-detail {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 215px !important;
	}
	.width40{
		width: 50%;
	}
	.width60{
		width: 50%;
	}
	/*.box-banner .owl-item {
		width: 200px !important;
	}
    .box-banner .item-logo,
	.owl-wrap-pn .item-logo{
        height: 70px;
        line-height: 67px;
    }*/
    
    .ab-job-follow{
        width: 100%;
    }
}

.img_loading{
    text-align: center;
    width: 50px;
    height: 50px;
}

.ab-about{
    /*font-size: 13px;*/
}

a.vnaward{
	color: red !important;
}
a.vnaward:hover{
	color: #ff4646 !important;
	text-shadow: 0px 0px 6px rgba(150, 150, 150, 1);
	
}
#logo-owl{
	position: relative;
	z-index: 0;
}
.box-banner .owl-theme .owl-controls,
.owl-wrap-pn.owl-theme .owl-controls{
	margin: 0;
}
.box-banner .owl-theme .owl-controls .owl-buttons div,
.owl-wrap-pn.owl-theme .owl-controls .owl-buttons div,
.owl-user-exec.owl-theme .owl-controls .owl-buttons div{
	border-radius: 0;
	padding: 0;
	font-size: 0;
	opacity: 1;
	filter: alpha(opacity=100);
}
.box-banner .owl-theme .owl-controls .owl-prev,
.owl-wrap-pn.owl-theme .owl-controls .owl-prev,
.owl-user-exec.owl-theme .owl-controls .owl-prev{
	position: absolute;
	margin: 0;
	width: 15px;
	height: 29px;
	margin-top: -14.5px;
	z-index: 1;
	top: 50%;
	left: 0;
	background: url(../img/controls.png) no-repeat left top;
}
.box-banner .owl-theme .owl-controls .owl-next,
.owl-wrap-pn.owl-theme .owl-controls .owl-next,
.owl-user-exec.owl-theme .owl-controls .owl-next{
	position: absolute;
	margin: 0;
	width: 15px;
	height: 29px;
	margin-top: -14.5px;
	z-index: 1;
	top: 50%;
	right: 0;
	background: url(../img/controls.png) no-repeat left bottom;
}

.owl-wrap-pn.owl-theme .owl-controls .owl-prev{
	left: -23px;
}

.owl-wrap-pn.owl-theme .owl-controls .owl-next{
	right: -23px
}

.owl-user-exec.owl-theme .owl-controls .owl-prev{
	left: -45px;
}
.owl-user-exec.owl-theme .owl-controls .owl-next{
	right: -45px;
}

.box-banner .owl-theme .owl-controls .owl-prev:hover,
.owl-wrap-pn.owl-theme .owl-controls .owl-prev:hover,
.owl-user-exec.owl-theme .owl-controls .owl-prev:hover{
	background-position: right top;
}
.box-banner .owl-theme .owl-controls .owl-next:hover,
.owl-wrap-pn.owl-theme .owl-controls .owl-next:hover,
.owl-user-exec.owl-theme .owl-controls .owl-next:hover{
	background-position: right bottom;
}
.list-job li a.all-job{
	color: #a84216;
}
.list-job li a.all-job:hover{
	color: #B7B7B7;
}
.ab-story-ct{
	display: none;
}
.date-bar div.text.w84{
    font-size: 16px;
}
.date-bar div.select.w69{width:69px;}
.date-bar div.input.w167{width:167px;}

/* JOB SEARCH */
.frJobSearch .search-choice{
	width: 80px;
}

.overflow{
	overflow:hidden;
}

.overflow div.item{
	display: none;
}

.frJobSearch  .select2-container{
	width: 100%!important;
}

.frJobSearch .select2-selection__rendered li{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	vertical-align: middle;
	display: inline-block;
	/* width: 65px; */
}

.frJobSearch .select2-selection{
	border: none!important;
	border-radius: none;
}

.frJobSearch .item[data-select="1"] .select2-selection__choice{
	width: 30%;
}

.frJobSearch .item[data-select="2"] .select2-selection__choice{
	width: 30%; 
}

.frJobSearch .item[data-select="3"] .select2-selection__choice{
	width: 30%; 
}

.select2-dropdown ul li[aria-selected="true"]{
	display: none;
}

/*.frJobSearch .item[data-select="1"] .select2-search__field{
	width: 180px!important;
}
.frJobSearch .item[data-select="2"] .select2-search__field{
	width: 80px;
}
.frJobSearch .item[data-select="3"] .select2-search__field{
	width: 60px;
}*/
.frJobSearch .select2-search__field{
/* 	width: 200px!important; */
}

.frJobSearch .select2-selection__rendered{
	height: 100%;
	overflow: hidden;
}
.no-cv-btn{
	  background: #A84216;
	  color: #fff;
	  padding: 9px;
	  margin: 5px;
	  display: inline-block; 
	  border: 1px solid #A84216;
}
.no-cv-btn:hover{
	color: #A84216;
	background: #fff;
}
.sbOptions{
	/*height: 175px;*/
	/* max-height: 176px !important; */
}
.sbOptions li:first-child{
	/* display: none; */
}
.error{
	border: 1px solid #f00;
}
.other_post{
	padding-bottom: 20px;
}
.other_post h2{
	font-size: 18px;
	color: #666;
	border-bottom: 5px solid #E5E5E5;
	padding-bottom: 10px;
}
.other_post a{
	color: #a84216;
	padding-left: 14px;
	background: url(../img/icon/icon-arrow1.png) 0 center no-repeat;
}
.other_post a:hover{
	color: #666;
}
.s_gender .sbOptions{
	height: auto !important;
}
/* END JOB SEARCH */
@media (max-width: 320px){
	.share-bar,
	.mb-share-tt{
		top: 60%;
	}
	.ab-select .ab-select-text input.special{
		width: 185px;
	}
	.table-clients table tr td{
		padding-right: 10px;
	}
	.table-clients table tr td.width40{
		width: 60%;
	}
	.table-clients table tr td.width60{
		width: 40%;
	}
}

.wrap-404 .text{
	background-image: url('../img/bg/page-404.jpg');
	padding: 8% 10%;
	height: 325px;
	background-size: 100%;
	position: relative;
	background-repeat: no-repeat;
}
.wrap-404 .text h2{
	color: #a84315;
	font-size: 40px;
}
.box-home .text1,
.box-home .item-news .date{
	
}
.box-home .title1 a{
	
	text-transform: uppercase;
	font-size: 20px;
}
.box-home .item-expertise .title a{
	
	text-transform: uppercase;
	font-size: 14px;
}
.box-news .col-md-4 .item-news a{
	
	text-transform: uppercase;
	font-size: 16px;
	line-height: 22px;
}
.box-news .col-md-8 .col-sm-6.other-news .title{
	
	text-transform: uppercase;
	font-size: 14px;
}
.ab-pu-endorse-tk span{
	font-size: 20px;
	line-height: 26px;
	letter-spacing: 0.5px;
}
.box-video .video .description a > span{
	
	font-size: 16px;
	text-transform: uppercase;
}
#footer .contact .title,
#footer .contact .txt-r a{
	
	text-transform: uppercase;
	font-size: 14px;
}
.logo .f-bb{
	
	font-size: 18px;
}
.box-candidates .btn-search{
	
	text-transform: uppercase;
	font-size: 14px !important;
	padding: 3px 10px 4px 10px !important;
}
.sub_title{
	color: white;
	background: #4f2507;
	padding: 10px;
	cursor: pointer;
	margin-bottom: 5px;
	margin-top: 0px;
	font-size: 18px;
	text-transform: uppercase;
}
.sub_title span{ float: right; text-transform: uppercase; text-decoration: underline; font-size: 13px !important; }
.sub2_title .arrow{
	display: inline-block;
	position: absolute;
	bottom: 8px;
	left: 0;
	top: 50%;
	margin-top: -10px;
	background: url(../img/icon/icon-all.png) no-repeat left bottom;
	height: 16px;
	width: 16px;
	cursor: pointer;
}
.sub2_title .arrow.active{
	background-position: left top;
}
.sub_content{
	padding: 5px;
	display: none;
	margin-bottom: 15px;
}
.sub2_title{
	color: #a84216;
	padding-left: 25px;
	font-size: 16px;
	padding-bottom: 8px;
	position: relative;
	z-index: 0;
	margin-bottom: 10px;
	margin-top: 0px;
	border-bottom: 5px solid #e5e5e5;
	margin-left: 20px;
}
.sub2_content{
	padding: 5px;
	display: none;
	padding-left: 21px;
	padding-bottom: 15px;
}
.btn-search{
	font-size: 18px!important;
	padding-top: 2px;
}
.sbOptions a,
.sbSelector,
.gsc-search-box-tools .gsc-search-box .gsc-input,
.gs-snippet,
.gs-spelling .gs-result{
	font-family: 'RobotoCondensed';
}
.detail-descript ul li{
	list-style: disc outside;
}
b, strong,
strong span{
	font-weight: normal;
	font-family: 'RobotoCondensedBold'!important;	
}
.detail-descript table td{
	padding: 4px;
	border-collapse: collapse;
	border: 1px solid #000;
}
.ab-salary.calculator p{
	font-size: 16px;
}

/*3f solution*/
.legislation{
	background: #4f2507;
	padding: 10px;
	text-align: center;
}
.legislation a:hover{
	color:#fff;
}

#career-list{
	background: #f5f5f5;
}
.career .sub_title{
	margin-bottom: 0px;
	color: #fff;
	height: 40px;

}

.career .sub_title a{
	color: #fff;
}
.career .sub_title a:hover{
	color: #a84216;
}

.career .vision {
	background: #fff;
	padding: 10px 5px;
	text-align: center;
	border:1px solid #e9eaea;
}
.career .vision a{
	background: #e5e6e8;
    display: inline-block;
    color: #000;
    margin: 0px 2px;
    padding: 10px 0px;
    width: calc(( 100% - (4px*10)) / 5 );
}


.jobboard .search {
    margin: 0px !important;
}
@media(max-width: 500px){
	.jobboard .input{
		width: 300px;
	}
}
@media(min-width: 501px){
	.career .vision a{
		margin: 3px -2px;
	}
	.jobboard .input{
		width: 457px;
	}
	.jobboard .select{
		width: 151px;
		margin-right:2px; 
	}
	
}
.jobboard .input,.jobboard .select{
		/*width: inherit;*/
	}
@media(min-width: 998px){
	.jobboard .input.fst{
		width: 572px;
	}
	.jobboard .input{
		width: 155px;
	}
	.jobboard .select{
		width: 154px;
		margin-right:2px; 
	}
}

.career .vision a:hover{
	background: #a84216;
	color: #fff;
}
.career .modal .modal-content{
	padding: 15px;
}
.career .modal .modal-header{
	border-bottom: none;
	text-transform: uppercase;
	background: #a84216;
	color: #fff;
}
.career .modal .modal-title{
	
}
.jobboard{
	background: #fff;
	border: 1px solid #e9eaea;
	padding: 10px 15px;
}
.jobboard form{
	padding: 10px 0px;
}



.jobboard .search{
	    margin: 15px 0px;
}
.jobboard input.btn-search{
	min-width: 95px;
	padding: 4px 0px 3px;
	font-size: 16px!important;
}
.jobboard .job-list{
	padding: 0px 15px 10px 15px;
}
.jobboard table{
	width: 100%;
}
.jobboard table tr:nth-child(2n+1){
	border: 1px solid #e5e5e5;
	background: #f0f0f0;
}

.jobboard table tr:hover{
	background: #eaeaea;
}
/*.jobboard table tr:nth-child(1) .job-title:before,.jobboard table tr:nth-child(2) .job-title:before,.jobboard table tr:nth-child(3) .job-title:before{*/
.jobboard table .job-title.hot-tit:before{
	
	content: "HOT JOB";
    position: relative;
    display: block;
    left: 0px;
    background: #ff0000;
    width: 65px;
    color: #fff;
    text-align: center;
    text-indent: 0px;
    white-space: nowrap;
}
.jobboard table td{
	display: table-cell;
	vertical-align: top;
	padding: 25px 10px;
}
@media (max-width: 350px) {
	.jobboard table td{
		padding: 25px 5px;
	}
}
.jobboard .text-mute{
	color: #9a9a9a;
}
.jobboard .job-title a, .jobboard .job-name{
	color: #000;
	font-size: 16px;
}
.jobboard .job-department{
	color: #a84216;
	font-size: 16px;
}
.jobboard .pagination{
	width: 100%;
	border-top: 1px solid #e5e5e5;
	padding: 15px 0px;
}
.jobboard .pagination .text-mute{
	margin-top: 15px
}
.jobboard .pagination ul li{
	display: inline-block;
}
.jobboard .pagination ul{
	margin-top: 15px
}
.jobboard .pagination ul li a{
	padding: 5px 10px;
	background: #eaeaea;
	color: #7b7b7b;
}
.jobboard .pagination ul li.active a,.jobboard .pagination ul li:hover a{
	background: #a84216;
	color: #fff;
}
.recruitment-process{
	background: #fff;
	border: 1px solid #e9eaea;
	padding: 10px 15px;
}
.recruitment-process .process{
	margin: 15px 0px;
}
.recruitment-process .process a{
	display: block;
	position: relative;
	padding: 10px 0px;

}
.recruitment-process .process a span{
	display: inline-block;
	color: #000;
	position: relative;
    z-index: 2;
}
.recruitment-process .process a span.process-number label{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #e5e6e8;
	text-align: center;
	line-height: 40px;
	color: #000;
	font-size: 18px;
}
.recruitment-process .process a span.process-name{
    width: calc( 100% - 60px);
    border-radius: 10px;
    float: right;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    background: #e5e6e8;
    color: #000;
    text-indent: 10%;
}
.recruitment-process .process a:hover span.process-name,
.recruitment-process .process a.active span.process-name,
.recruitment-process .process a:hover span.process-number label,
.recruitment-process .process a.active span.process-number label{
	color: #fff;
	background: #a84216;
}
.recruitment-process .process a:before{
	content:'';
	position: absolute;
	top:20px;
	left:42px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 15px 10px 0;
	border-color: transparent #e5e6e8 transparent transparent;
}
.recruitment-process .process a:hover:before,
.recruitment-process .process a.active:before{
	border-color: transparent #a84216 transparent transparent;	
}
.recruitment-process .process a span.process-number:before {
    content: '';
    background: #e5e6e8;
    height: 100%;
    width: 2px;
    position: absolute;
    left: 18px;
    top: -10px;
    z-index: -1;
}
.recruitment-process .process a span.process-number:after {
    content: '';
    background: #e5e6e8;
    height: 100%;
    width: 2px;
    position: absolute;
    left: 18px;
    top: 10px;
    z-index: -1;
}
.area-opportunities{
	background: #fff;
	border: 1px solid #e9eaea;
	padding: 10px 15px;
	margin-top: 20px;
}
.area-opportunities details{
	padding: 20px 0px;
	border-bottom: 1px dotted #e9eaea;
	color: #666666;
	font-size: 14px;
}
.area-opportunities details:last-child{
	border-bottom: none;
}
.area-opportunities details summary{
	cursor: pointer;
}
.area-opportunities details summary span{
	padding: 3px 8px;
	background: #eaeaea;
}
.area-opportunities details summary::-webkit-details-marker {
    display: none;
}
.banner-career{
	/*height: 100px;*/
	/*background: #e9eaea;*/
	text-align: center;
	line-height: 100px;
	font-size: 20px;
}
.career-content{
	background: #f5f5f5;
}
.career-content .sub_title{
	margin-bottom: 15px;
}
.career-content .job-description{
	background: #fff;
	border: 1px solid #e9eaea;
	padding: 15px 15px;	
	margin-bottom: 15px;
	color: #666666
}
.career-content .career-content-title{
	color:#a94215;
	font-size: 24px;
	font-family: RobotoCondensed;
	margin: 5px 0px 15px;
}
.career-content .job-description h3{
	margin: 10px 0px 5px;
	color: #000;
	font-size: 14px;
	font-family: RobotoCondensedBold;
}
.career-content img, .career-content table{
	max-width: 100%;
	height: auto !important;
}
.career-content .attach-file{
	color: #512606;
	font-size: 18px;
	font-family: RobotoCondensedBold;
	text-align: center;
	margin: 15px 0px;
}
.career-content .attach-file .btn-search{
	margin-bottom: 2px;
	font-size: 16px!important
}
.career-content table{
	font-size: 16px;
	width: 100%;
}
.career-content table tr td{
	padding: 15px 0px;
	border-bottom: 1px dotted #b9c0c6;
	font-size: 14px;
}
.career-content table tr td:first-child{
	white-space: nowrap;
	color: #000
}
.career-content table tr td:last-child{
	padding-left: 5px;
	color: #676767
}
.career-content table tr:last-child td{
	border-bottom: none;
}
.career-content table tr td.job-date,.career-content table tr td.job-status{
	color: #a94217;
}
.career-content .job-detail{
	position: relative;
}
.career-content .deadline{
	position: absolute;
	right: 10px;
	top:10px;
	border: 1px solid #e9eaea;
	width: 90px;
	height: 90px;
	text-align: center;
}
.career-content .deadline p{
	color: #fff;
	background: #a84317;
	padding: 5px 0px;
	font-weight: bold;
}
.career-content .deadline h2{
	margin: 5px 0px;
	font-size: 22px;
	color: #a84317;
	font-weight: bold;
}
.career-content .deadline h4{
	font-size: 14px;
	color: #000;
}
.career-content .career-info img{
	float:left;
    margin: 5px 4px 5px 0px;
}
.career-content .career-info .btn-group a{
    text-align: center;
    background: #502407;
    display: inline-block;
    color: #fff;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    font-size: 15px;
    margin: 5px 1px;
    width: 125px;
}
.career-content .career-info .btn-group a:hover{
	background: #a94217;
}
.career-content .job-similar .sub_title{
	margin-bottom: 0px;
}
.career-content .job-similar ul li{
	border-bottom: 1px dotted #e9eaea;
	padding: 15px 0px;
}
.career-content .job-similar ul li .job-name{
	color: #000;
	font-size: 16px;
}
.career-content .job-similar a.viewall-similar-job{
	text-decoration: underline;
	color: #a84317;
	padding: 10px 0px 0px;
}
.career-submit{
	color: #000;
}
.career-submit .text-red{
	color: #a84317;
}
.career-submit h4,.career-submit h5{
	font-family: RobotoCondensedBold;
}
.career-submit h5{
	font-size: 16px;
}
.career-submit .file-upload{
	background: #f5f5f5;
	border-radius: 10px;
	padding: 20px;
	margin:10px 0px;
}
.file-upload .fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    background: #dcdcdc;
    border: 1px solid #b7b7b7;
    border-radius: 3px;
}
.file-upload span i{
	color: #edad2b;
	margin-right: 5px;
}
.file-upload .fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.career-submit p a{
	color: #4d4d4d;
}
.career-submit input[type="radio"], .career-submit input[type="checkbox"]{
	margin:-1px 3px;
	vertical-align: middle;
}
.career-submit .form-text{
	width: 100%;
}
@media (max-width: 480px) {
	.career-submit .form-text{
		width: 100%;
	}
}
.career-submit .form-text .form-text-top .input{
	display: inline-block;
	margin-right: 0px -2px;
}
.career-submit .form-text .input{
	margin: 3px 0px;
	width: 100%;
}
.career-submit .form-text .form-text-top .input:first-child{
	width: 100%;
	margin-right: 3px;
}
.career-submit .form-text .form-text-top .input:last-child{
	width: 100%; /*calc( 40% - 6px);*/
}
